name: Build and Test

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "test/**"
      - "build.jl"
      - "Project.toml"
    pull_request:
      branches:
        - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.12"
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - x64

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

      - name: Cache dependencies
        uses: julia-actions/cache@v2

      - name: Install dependencies and Run tests
        shell: bash
        run: |
          julia test/runtests.jl

      - name: Run Build Script
        shell: bash
        run: |
          julia build.jl
